<footer>
    <div class="footer-info">
        <!-- facebook -->
        <img width="40" height="40" src="https://img.icons8.com/fluency/48/facebook-new.png" alt="facebook-new"/>
        <!-- instagram -->
        <img width="40" height="40" src="https://img.icons8.com/color/48/instagram-new--v1.png" alt="instagram-new--v1"/>
        <!-- linked in -->
        <img width="40" height="40" src="https://img.icons8.com/fluency/48/linkedin.png" alt="linkedin"/>
    </div>
    <div>&copy; Mini Airbnb Private Limited</div>
    <div class="footer-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">terms</a>
    </div>
</footer>