
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img width="40" height="40" src="https://img.icons8.com/external-tal-revivo-green-tal-revivo/36/external-airbnb-hassel-free-room-rental-service-logotype-logo-green-tal-revivo.png" alt="external-airbnb-hassel-free-room-rental-service-logotype-logo-green-tal-revivo"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listing">All Listing</a>
          <a class="nav-link" href="/listing/new">Add New Listing</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
</nav>