<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All Listing</h3>

    <div class="listing-card">
        <% for(let list of listings) {%>
        <a href="/listing/<%= list._id%>">
            <div class="card" style="width: 20rem;">
                <img src="<%= list.image  %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay">Picture</div>
                <div class="card-body">
                <p class="card-text"><strong><%=list.title%></strong></p>
                <p>&#2547; <%= list.price.toLocaleString("en-BD") %> / night</p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
</body>
