

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.nav-link{
    color: #222 !important;
    font-weight: 500;
}

/* footer */
footer{
    height: 9rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-info-links,.footer-info{
    width: 100%;
}
.footer-info img{
    margin: 0 0.75rem;
    cursor: pointer;
}
.footer-info-links a{
    text-decoration: none;
    color: #222222;
    margin: 0 0.5rem;
}
.footer-info-links a:hover{
    text-decoration: underline;
}